<form [formGroup]="registerResto" (ngSubmit)="onsubmit()">
    
    <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your Data Saved Successfully.
        <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="id" formControlName="Name">
    
    </div>
    <div class="form-group">
        <label>Mail ID</label>
        <input type="text" class="form-control" placeholder="Mail ID" formControlName="Mail_Id">
      
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="Password" class="form-control" placeholder="Password" formControlName="Password">
      
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>